#postCreator {
  margin-bottom: 40px;
  width: 500px;
  max-width: calc(100vw - 300px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px rgba(128, 128, 128, 0.301) solid;
  padding: 10px;
  #postContent {
    height: 100px;
    font-size: 20px;
    border: none;
  }
  #postImg {
    border: none;
  }
  button {
    cursor: pointer;
    font-size: 17px;
    font-weight: 550;
    width: 100px;
    align-self: flex-end;
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: none;
    &:hover {
      background-color: rgba(0, 0, 255, 0.692);
    }
  }
}
