#leftAside {
  border-right: 1px rgba(128, 128, 128, 0.301) solid;
  position: sticky;
  top: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 300px;
  font-size: 25px;
  font-weight: 300;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #links {
    display: flex;
    flex-direction: column;
    .navigationLink {
      color: black;
      text-decoration: none;
      margin-bottom: 10px;
      img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
    }
  }
  #loginOrRegister {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 10px;
      color: black;
      text-decoration: none;
    }
  }
  #logout {
    cursor: pointer;
  }
}
